.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.6125rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #677788;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0.0625rem;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.0rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: all 0.2s ease-in-out;
}

.img-max {
    max-width: 300px;
    width:100%;
  }

  
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10;
}
.navbar-brand-logo {
    width: 100%;
    min-width: 20rem;
    max-width: 20rem;
}
.card {
    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 2rem;
    --bs-card-title-spacer-y: 0.25rem;
    --bs-card-border-width: 0.0625rem;
    --bs-card-border-color: rgba(33, 50, 91, 0.1);
    --bs-card-border-radius: 0.0rem;
    --bs-card-box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
    --bs-card-inner-border-radius: 0.4375rem;
    --bs-card-cap-padding-y: 2rem;
    --bs-card-cap-padding-x: 2rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 2rem 2rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.step-icon-border {
    border: 0.125rem solid rgba(33, 50, 91, 0.1);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8f817e;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2d2b2c;
    --bs-btn-hover-border-color: #2c64cc;
    --bs-btn-focus-shadow-rgb: 85, 145, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2c64cc;
    --bs-btn-active-border-color: #295ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #377dff;
    --bs-btn-disabled-border-color: #377dff;
}

.btn-theme1 {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2d2b2c;
    --bs-btn-border-color: #8f817e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8f817e;
    --bs-btn-hover-border-color: #2c64cc;
    --bs-btn-focus-shadow-rgb: 85, 145, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2c64cc;
    --bs-btn-active-border-color: #295ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #377dff;
    --bs-btn-disabled-border-color: #377dff;
}


.btn-theme2 {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8f817e;
    --bs-btn-border-color: #8f817e;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2d2b2c;
    --bs-btn-hover-border-color: #2c64cc;
    --bs-btn-focus-shadow-rgb: 85, 145, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2c64cc;
    --bs-btn-active-border-color: #295ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #377dff;
    --bs-btn-disabled-border-color: #377dff;
}
.bg-theme1 {
    --bs-bg-opacity: 1;
    background-color: #8f817e !important;
}


.bg-theme2 {
    --bs-bg-opacity: 1;
    background-color: #2d2b2c !important;
}

.bg-theme3 {
    --bs-bg-opacity: 1;
    background-color: #cdc9c0 !important;
}

.bg-theme4 {
    --bs-bg-opacity: 1;
    background-color: #9e9493 !important;
}

.bg-theme5 {
    --bs-bg-opacity: 1;
    background-color: #eee6e4 !important;
}
.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: #fff;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.text-theme1 {
    --bs-text-opacity: 1;
    color: #9e9493 !important;
}

.text-theme2 {
    --bs-text-opacity: 1;
    color: #eee6e4 !important;
}

.text-highlight-theme1 {
    background-image: linear-gradient(to bottom, #9e9493,#9e9493 );
}


.progress {
    --bs-progress-height: 0.5rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: #e7eaf3;
    --bs-progress-border-radius: 0.5rem;
    --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #8f817e;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}


.go-to:focus:hover,
.go-to:hover {
    color: #fff;
    background-color: #8f817e;
    opacity: 1;
}

.list-checked-item {
    position: relative;
    color: #9e9493;
    padding-left: 2rem;

}

